{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Happy Birthday 🐒</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preload" as="image" href="/static/images/bdImg.jpg" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
  </head>

  <body>
    <canvas id="bg-canvas"></canvas>
    <audio id="bg-music" loop>
      <source
        src="{% static 'music/bday_tune.mp3' %}"
        preload="auto"
        loop
        type="audio/mpeg"
      />
    </audio>
    <main class="hero">
      <div class="glass">
        <h1 class="title glow">Happy Birthday<br />🎂</h1>

        <div class="nav">
          <a href="{% url 'message' %}" class="note">
            <span class="note-front">🥹</span>
            <span class="note-back">Read Me</span>
          </a>

          <a href="{% url 'message1' %}" class="note">
            <span class="note-front">📩</span>
            <span class="note-back">Continue</span>
          </a>

          <a href="{% url 'gallery' %}" class="note">
            <span class="note-front">📸</span>
            <span class="note-back">Don't you Dare</span>
          </a>

          <a href="{% url 'gift' %}" class="note">
            <span class="note-front">🎁</span>
            <span class="note-back">Gift</span>
          </a>
        </div>
      </div>
    </main>

    <!-- Party popper -->
    <div id="party-popper">🎉</div>
    <div id="thought-bubble"></div>

    <script src="{% static 'js/message-music.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
    <script src="{% static 'js/home.js' %}"></script>
  </body>
</html>
