{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Messi Goat</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="container">
      <h1>Why You're GOATed 🐐</h1>
      <ul>
        <li>Calm Under Pressure</li>
        <li>Loyal to your people</li>
        <li>Let actions speak</li>
      </ul>
      <a href="/home/">Back</a>
    </div>
    <img src="{% static 'images/messi1.gif' %}" class="gif" alt="messi1" />
    <footer>
      <p style="opacity: 0.7; font-size: 14px">
        Built with care. Not copy-pasted😒
      </p>
    </footer>
  </body>
</html>
