{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="container">
      <h2>This part is real.</h2>
      <p>I don't always say this, but you genuinely matter to me.</p>
      <p>You bring energy, laughterr, joy, and good vibes wherever you go.</p>
      <p>
        I built this instead of buying something... because you're worth real
        effort.
      </p>
      <p>Happy Birthday. Always cheering for you⚽💙</p>
      <a href="/home/">Back</a>
    </div>
    <img src="{% static 'images/enjoy_bday.gif' %}" class="gif" alt="Enjoy" />
    <footer>
      <!-- <p>Built with care. Not copy-pasted😒</p> -->
      <p style="opacity: 0.7; font-size: 14px">
        I didn't rush this. I didn't copy it. I made it - for you.
      </p>
    </footer>
  </body>
</html>
