{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Why You</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="container fade-in">
        <h1>Why You Matter 💙</h1>
        <p><ul>
            <li><p>You used to hype me up when I doubted myself.</p></li>
            <li><p>You made sad days fun</p></li>
            <li><p>You stayed real(still do) - always 💙💙</p></li>
        </ul></p>
        <p>This site exists because you're not "just a friend". You're someone who genuinely matters.
        </p>
        <a href="/home/">Back</a>
    </div>
  </body>
</html>
