* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Mountains of Christmas", cursive;
  background: radial-gradient(circle at center, #2b1055, #0a0420);
  overflow: hidden;
}

/* ===== CENTER STAGE ===== */
#stage {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  text-align: center;
  z-index: 5;
  pointer-events: auto;
}

/* ===== BUTTON ===== */
#giftBtn {
  position: absolute;
  font-size: 1.4rem;
  padding: 18px 36px;
  border-radius: 999px;
  font-family: "Mountains of Christmas", cursive;
  border: none;
  pointer-events: auto;
  z-index: 10;
  cursor: pointer;
  background: linear-gradient(135deg, #ffd166, #ff7aa2);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s ease;
}

#giftBtn:hover {
  transform: scale(1.08);
}

/* ===== COUNTDOWN ===== */
#countdown {
  position: absolute;
  font-size: clamp(4rem, 12vw, 7rem);
  font-weight: 800;
  color: #fff;
  opacity: 0;
}

/* ===== FINAL TEXT ===== */
#finalText {
  /* position: absolute; */
  font-size: clamp(1.6rem, 4vw, 2.4rem);
  color: #ffd6ec;
  opacity: 0;
  transition: opacity 0.5s ease;
}

/* ===== GIF FULLSCREEN ===== */
#gifScreen {
  position: fixed;
  inset: 0;
  background: #2b1055;
  display: grid;
  place-items: center;
  opacity: 0;
  transition: opacity 0.8s ease;
  pointer-events: none;
  z-index: 20;
}
#gifScreen.show {
  opacity: 1;
  pointer-events: auto;
}

#gifScreen img {
  width: auto;
  height: auto;
  object-fit: cover;

  /*  width: 100%;
  height: 100%;
  object-fit: cover;    */
}

.roast-text {
  position: absolute;
  font-size: clamp(1.6rem, 4vw, 2.6rem);
  color: #ffd6ec;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.6s ease;
}

@media (max-width: 768px) {
  #gifScreen img {
    object-fit: cover no-repeat;
  }
}
